<div class="container-fluid">

  <!-- <p>My Goal for today is {{goal}}</p> -->
  <ul class="border border-success list-unstyled p-5">
    <div *ngFor="let goal of goals;let i = index" class="border border-light my-2">
      <li>
        <!-- {{goal}} -->
        <!-- For use with the classes you havr to say what you want or get object object -->
        {{goal.name.toUpperCase()}}
      </li>
      <!-- Output data binding child to parent  -->
      <button class="btn btn-sm btn-outline-success m-2" (click)="toggleDetails(i)">Description</button>
      <!-- Getting something from child to display and binfing to send info to it  -->
      <app-goal-detail *ngIf="goal.descriptionVisibility" [goal]="goal" (isComplete)="completedGoal($event,i)">
      </app-goal-detail>
    </div>
    <div class="">
      <p *ngIf="goals.length > 4">The goals are more than 4</p>
      <p *ngIf="goals.length > 8">The goals are more than 8</p>
    </div>
  </ul>
</div>
